NODE_ENV="development"
PORT=3333
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mayco_papeis?schema=public"
JWT_SECRET="super-secret-key"
JWT_EXPIRES_IN="7d"
APP_URL="http://localhost:3333"
FRONTEND_URL="http://localhost:5173"
ENABLE_API_DOCS="true"
STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""
MERCADO_PAGO_PUBLIC_KEY=""
MERCADO_PAGO_ACCESS_TOKEN=""
